.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#tday2-1" data-toggle="tab") 9 horas – TEATRO TORQUATO NETO
      a.nav-link(href="#tday2-2" data-toggle="tab")  15 horas – TEATRO TORQUATO NETO 
      a.nav-link(href="#tday2-3" data-toggle="tab") 16h30 – TEATRO TORQUATO NETO 
      a.nav-link(href="#tday2-4" data-toggle="tab") 19h30 – THEATRO 4 DE SETEMBRO 
      a.nav-link(href="#tday2-5" data-toggle="tab") 21h40 – ENCERRAMENTO

  .col-md-8.col-xs-12 
    .tab-content 
      #tday2-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 9 horas – TEATRO TORQUATO NETO
        p 
          |Mesa “Poética da diversidade”
        p 
          |Uma conversa sobre literatura 
          b LGBTQI+ 
          |com 
          b ANA KELMA GALLAS
          |, 
          b ED MARTE 
          | e 
          b NOÉ FILHO 
        p 
          |Mediação de 
          b MARCELINO FREIRE
        p
          |Na ocasião, será feita uma homenagem 
          br
          |à cantora e compositora 
          |trans piauiense 
          b BENÍCIO BEM
        p
          |Participação de estudante-anfitrião-anfitriã        
                  
      #tday2-2.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 15 horas – TEATRO TORQUATO NETO *
        p 
          | Mesa “A pedagogia dos artistas”
        p 
          | Uma conversa com um dos criadores
          | do Sarau da Cooperifa, o poeta 
          b SÉRGIO VAZ
          |, 
          br
          b DANI MARQUES
          |, 
          b MAÍLSON FURTADO 
          | e o escritor 
          b ABDULAI SILÁ
          |, da Guiné-Bissau 
        p 
          | Mediação de 
          b KILITO TRINDADE
        p 
          | Participação de estudante-anfitrião-anfitriã
        p.text-red 
          | * Programação em parceria com o FestLuso
        
      #tday2-3.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 16h30 – TEATRO TORQUATO NETO * 
        p 
          | Mesa “Vozes negras como ato 
          | de amor em tempos de ódio”
        p 
          | Uma conversa com 
          | artistas negros 
          | sobre conquistas e sonhos,
          | com o poeta 
          b NELSON MACA
          |, 
          br 
          |a ativista 
          b ASSUNÇÃO AGUIAR
          |, o rapper 
          b PRETO KEDÉ 
          | e o músico 
          b RICARDO TOTTE 
        p 
          | Mediação de 
          b ROSÁRIO BEZERRA
        p
          | Participação de estudante-anfitrião-anfitriã
        p.text-red 
          | * Programação em parceria com o FestLuso

      #tday2-4.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 19h30 – THEATRO 4 DE SETEMBRO *
        p 
          | Show “Suburbano Coração”,
          | com a cantora e compositora 
          | maranhense 
          br
          b RITA BENNEDITTO
        p 
          | Participação de estudante-anfitrião-anfitriã
        p 
          | Abertura do show com 
          b TEÓFILO LIMA
        p.text-red 
          | * Programação em parceria com o FestLuso

      #tday2-5.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 21h40 – ENCERRAMENTO          
        p 
          | com 
          b SARAU DA RESISTÊNCIA
          |, num coro de vozes
          | entre 
          br
          b AJEB/PI
          |, 
          b ACAPP
          |, 
          b KILITO TRINDADE 
          | e 
          b EMERSON BOY
          |,  
          br
          | sob coordenação de 
          b JASMINE MALTA
          |, 
          b LUIZA CANTANHÊDE
          |, 
          b LAÍS ROMERO 
          br
          | e 
          b MARLEIDE LINS
          |,  
          | além de lançamento de livros, 
          | fanzines, revistas e blusas

