p
  | Sob a coordenação de 
  b THIAGO E 
  | e 
  b LUCAS ROLIM

h5.mb-4 GALERIA DOS DIRETORES:

b 27 de agosto, 18h20:
p 
  | – “Reabitar”, de Demétrios Galvão
  br 
  | – “Nações entrecruzadas – Tessitura de resistência na poesia de Conceição Evaristo, Paula Tavares e Conceição Lima”, 
  | de Assunção Sousa
  br 
  | – “Um clarão dentro da noite”, de JL Rocha do Nascimento
  br 
  | – “Entre o voo e o pouso”, de Alzerina Pinho
  br 
  | – “Adão e Eva do paraíso ao consumo”, organizado por Aristides Oliveira, Bernardo Aurélio e Jaislan Monteiro
  br 
  | – “Go Afrika”, de Nelson Maca
b 28 de agosto, 18h20:
p 
  | – “Amanhã, serei uma flor insana”, 
  | de Luiza Cantanhêde
  br 
  | – 1ª Coletânea 2019, 
  | AJEB / Coordenadoria Piauí
  br 
  | – “Cores sob nossas peles”, de Noé Filho
  br 
  | – “Veia fatal”, de Assis Bezerra
  br 
  | – “Destinerário” e “Os tempos e a forma”, 
  | de Adriano Lobão Aragão