extends layouts/layout.pug 

block content 
  include sections/navbar.pug
  include sections/cover.pug
  include sections/about.pug
  include sections/schedule.pug
  include sections/divider1.pug
  include sections/places.pug
  include sections/divider2.pug
  include sections/social.pug
  include sections/logos.pug
