section#about
  .bg-left 
  .bg-right
  .container.py-5
    .row 
      .col-md-6.col-xs-12
        h3.mb-4.bg-xs Apresentação
        p.mr-3.mb-0.about-text
          | Não somos oprimidos. Não baixamos nossa cabeça.
          | Não estamos alheios aos fatos. Estamos
          | atentos. Firmes e fortes. Sabemos quando a
          | mentira vira verdade. Pregamos a dignidade.
          | E o pensamento crítico. Aprendemos 
          | dentro do nosso quintal. Apreendemos com os
          | ensinamentos do tempo. Da infância somos
          | eternos estudantes. Letrados pelos nossos
          | antepassados. Não temos governo.
          | Não sentimos medo. Defendemos a liberdade
          | de expressão e a democracia.
          | Nós transformamos o nosso presente.
          | Sabemos que dele depende o nosso futuro.
          | Somos utópicos e práticos em nossa utopia.
          | Respeitamos as diferenças. Estamos 
          | próximos dos próximos. Cada vez mais plurais.
          | Acordamos toda uma multidão com o nosso
          | grito. Temos asas. Consciência plena de
          | nosso legado. Amamos nossos mestres
          | e nossas mestras. Estamos unidos e unidas
          | aos professores e professoras.
          | Reverenciamos quem nos aponta um ca-
          | minho. Seguimos no caminho da verdadeira
          | justiça. Enxergamos quando a justiça é cega.
          | Quando a justiça não enxerga o olho da rua.
          | Somos nossa própria rua. Fazemos a nossa
          | estrada. De mãos dadas, uns com os ou-
          | tros. Umas com as outras. Todos e todas de
          | unhas de fora e de cabeça erguida. 
          | Celebrando os artistas. Todas as artes. A leitura
          | do mundo e o mundo da literatura. Gratidão,
          | mestre e parceiro e companheiro  
          br
          b PAULO FREIRE.  
          | Por tudo o que você nos alertou.
          | A educação movida pela curiosidade e pelo
          | profundo amor. 
        p.mr-3.mb-0.mt-4.about-text
          | Salve e salve. 
          br 
          br 
          b BALADA LITERÁRIA 2019
      .col-md-6.col-xs-12.pl-md-5.mt-4.mt-sm-0.bg-red
        h3.mb-4.text-red.bg-xs Equipe Técnica 
        .row.team
          .col-md-6.col-xs-12            
            p.mb-3
              strong.d-block Criação, curadoria e coordenação geral:
              | Marcelino Freire
            
            p.mb-3
              strong.d-block Curadores Convidados:
              | Wellington Soares (Teresina) 
              br
              | e Nelson Maca (Salvador)
            p.mb-3    
              strong.d-block Produção:
              | Jarbas Galhardo, Jorge Ialanji Filholini e Glauber Amaral
            
            p.mb-3    
              strong.d-block Assistência de produção:
              | Edu Xavier
              br
              | Vicente Cursin Dolgener
              br
              | Fernando Galvez
              br
              | Paulo Tellini
              br
              | Morgana Kretzmann
              br 
              | Marlon Pires
              br
              | João Nunes Junior
            p.mb-3                
              strong.d-block 
                | Produção fotográfica 
                br
                | e filmagens:
              | Lucas Barbosa
              br
              | Tiago Salgueiro
              br
              | Teo Ponciano
          .col-md-6.col-xs-12            

            p.mb-3          
              strong.d-block Vídeos e vinhetas:
              | Tiago Salgueiro
            
            p.mb-3    
              strong.d-block Assessoria de imprensa:
              | Juliana Gola
            p.mb-3    
              strong.d-block Mídias sociais:
              | Ian Uviedo
              br
              | Jana Aguiar
            p.mb-3    
              strong.d-block Produção de som:
              | Emerson Boy 
              br
              | Teo Ponciano
            p.mb-3
              strong.d-block Exposição de cadernos:
              | Jana Aguiar

            p.mb-3    
              strong.d-block Desenho Paulo Freire:
              | Lori Servilha
            p.mb-3    
              strong.d-block Site e material gráfico:
              | Bruno Brum
              br
              | Mozart Brum 
              br
              | (Br1 Design)
