section#about
  .bg-left 
  .bg-right.fullBackground  
    .overlay
  .container.py-5
    .row 
      .col-md-6.col-xs-12
        h3.mb-4 UMA BALADA ROMÂNTICA
        p.mr-3.mb-0.font-weight-light.about-text
          | Pois é. A gente vai confessar mais uma vez. O nosso amor
          | pelos livros. Pelos escritores. Pelos artistas. Em um tempo em
          | que muita gente não quer saber de afeto. A gente vai falar de
          | música. Celebrar o verso. A rima. Amor e mais amor.
          | Respeito pelo próximo. Pela amizade. Pelas diferenças. A
          | Balada Literária sempre foi uma das festas mais democráticas
          | do país. Nosso coração é aberto. Cabe quem quiser entrar. A
          | gente vai abraçar Alice Ruiz. Ela que abraçou Itamar
          | Assumpção. A partir dessa dupla de homenageados, vamos
          | dizer que estamos juntos. Mais do que nunca. Ninguém aqui
          | está sozinho. Ou separado. A gente anda em bando. Em
          | banda. Fazendo barulho. Fazendo arte. Com edições em
          | Teresina, Salvador. E São Paulo. É com esse espírito plural e
          | revolucionário que chegamos a este décimo terceiro ano.
          | Misturando as tribos e todos os gêneros literários e sexuais.
          | Sem preconceito e sem nenhum medo jamais. Na nossa festa
          | já recebemos de Antônio Cândido a Rogéria. De Adélia Prado
          | a Miró da Muribeca. De Ney Matogrosso a Augusto de
          | Campos. De Conceição Evaristo a Chico César. De Caetano
          | Veloso a Raduan Nassar. Todos e todas em um mesmo lugar.
          | Soltando o sonho. A voz, o grito e o verbo. Venha fazer parte
          | dessa nossa longa e persistente história de amor. Ela não é
          | fake. Ela é de verdade. Como diz uma letra de Alice Ruiz,
          | com música de Itamar Assumpção, “por que não vens, meu
          | bem, que tem”. Muito amor para dar. Boa Balada para nós
          | todos e todas, beijabração e até já.
      .col-md-6.col-xs-12.pl-5
        h3.mb-4.text-uppercase Equipe Técnica 
        .row
          .col-md-4.col-xs-12            
            p.mb-3
              strong.d-block Criação, Curadoria e Direção Geral:
              | Marcelino Freire
            
            p.mb-3
              strong.d-block Curadores Convidados:
              | Wellington Soares e George Mendes (Teresina)
              | e Nelson Maca (Salvador)
            p.mb-3    
              strong.d-block Produção:
              | Galileo Gagliardi, Jarbas Galhardo, Jorge Ialanji Filholini, Tânia Reis
            
            p.mb-3    
              strong.d-block Assistência de Produção:
              | Edu Xavier e Vicente Cusin Dolgener
          .col-md-4.col-xs-12              
            

            p.mb-3    
              strong.d-block Mídias Sociais:
              | Ian Uviedo
            p.mb-3                
              strong.d-block Produção Fotográfica:
              | Mario Miranda Filho

            p.mb-3          
              strong.d-block Assessoria de Imprensa:
              | Juliana Gola
            
            p.mb-3    
              strong.d-block Site e Folheto:
              | Bruno Brum e Mozart Brum (br1 Design)
