section#divider1
  .overlay
  #carousel1.carousel.slide.carousel-fade.h-100(data-ride='carousel' data-interval="6000")
    .carousel-inner.text-center.h-100
      .carousel-item.active.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100 
            | Que importa o sentido se tudo vibra?
            .text-small 
              | Alice Ruiz
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | Se a obra é a soma das penas
            br
            | Pago, mas quero meu troco em poemas
            .text-small 
              | Itamar Assumpção
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | Depois que um corpo comporta outro corpo, nenhum coração suporta o pouco.
            .text-small Alice Ruiz
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | Baby não se assuste
            br
            | Hoje o tempo é de terror
            br
            | Nosso céu ainda chora
            br
            | Nos telhados da cidade
            br
            | E nossa amizade
            br
            | A tudo resiste            
            .text-small Itamar Assumpção
