section#divider1
  #carousel1.carousel.slide.carousel-fade.h-100(data-ride='carousel' data-interval="6000")
    ol.carousel-indicators
      li.active(data-slide-to="0" data-target="#carousel1")
      li(data-slide-to="1" data-target="#carousel1") 
      li(data-slide-to="2" data-target="#carousel1")
      li(data-slide-to="3" data-target="#carousel1")

    .carousel-inner.text-center.h-100
      .carousel-item.active.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100 
            | "Eu sou inverteradamente otimista, não ingenuamente otimista. 
            br
            |Ou a gente faz, ou as coisas não são feitas."
            .text-small 
              | Paulo Freire
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | "Não tem essa história de esperar porque o futuro vai ser nosso.
            br
            | Ele só será nosso se a gente trabalhar o presente. O futuro se faz
            br
            | na medida em que se transforma o presente, e eu acho que é nisso 
            br
            | que nós estamos engajados hoje." 
            .text-small Paulo Freire
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | "Aprendamos ensinando-nos."
            .text-small Paulo Freire
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | "Utópico não é o que é impossível. A postura utópica é a postura que
            br
            | vive, entende e se experimenta na tensão entre a denúncia e o anúncio."
            .text-small Paulo Freire
