section#divider2
  #carousel2.carousel.slide.carousel-fade.h-100(data-ride='carousel' data-interval="6000")
    ol.carousel-indicators
      li.active(data-slide-to="0" data-target="#carousel2")
      li(data-slide-to="1" data-target="#carousel2") 
      li(data-slide-to="2" data-target="#carousel2")

    .carousel-inner.text-center.h-100
      .carousel-item.h-100.active
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | "A virtude da tolerância é revolucionária.
            br
            | Ela nada mais é do que conviver com o diferente para brigar com o antagônico.
            br
            | Mas aqui, no Brasil, a gente se acaba entre os diferentes e deixa o antagônico em paz."
            .text-small Paulo Freire
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100 
            | "A história enfatiza a compreensão quantitativa do conhecimento, o que é um absurdo.
            br
            | Eu sou por uma pedagogia da curiosidade."
            .text-small Paulo Freire
      .carousel-item.h-100
        .d-flex.h-100.align-items-center.justify-content-center
          h1.d-block.w-100
            | "Quando a educação não é libertadora, o sonho do oprimido é ser o opressor."
            .text-small Paulo Freire
