section#logos.text-center 
  img.img-fluid(src="assets/img/logos.png", alt="Patrocínio")

section#credit 
  .container 
    .row 
      .col-12 
        .text-center 
          span Feito por 
          a(href="https://br1design.com.br/" target="_blank") br1 Design
