nav#navbar.navbar.navbar-expand-lg.fixed-top.navbar-dark
  .container 
    a.navbar-brand(href='/') Balada Literária
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#nav-links', aria-controls='nav-links', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #nav-links.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href='#about') Apresentação
        li.nav-item
          a.nav-link(href='#schedule') Programação
        li.nav-item
          a.nav-link(href='#places') Onde acontece a Balada
        li.nav-item
          a.nav-link(href='#social') Redes sociais
