section#places.py-5 
  .container 
    .row.mb-5
      .col-12 
        h2.title Onde acontece a balada
    #accordion-1.accordion
      .row 
        .col-12.col-md-6
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-1')
              .card-header                
                h5.mb-0 
                  span.bar
                  | Auditório Ibirapuera
            #a1-1.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | Av. Pedro Álvares Cabral - Parque Ibirapuera, São Paulo - SP, 04094-050
                br
                br
                a(href="http://www.auditorioibirapuera.com.br/historico/", target="_blank")
                  | Ver site 
                  i.fa.fa-share.ml-1
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-2')
              .card-header
                h5.mb-0 
                  span.bar
                  | Bambu Brasil
            #a1-2.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | R. Purpurina, 272 - Sumarezinho, São Paulo - SP, 05435-030
                br
                b Telefone: 
                | (11) 3031-2331
                br
                br
                a(href="http://www.bambubrasilbar.com.br", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1
                
        
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-3')
              .card-header
                h5.mb-0 
                  span.bar
                  | Biblioteca José Paulo Paes
            #a1-3.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | Largo do Rosário, 20 - Penha de Franca, São Paulo - SP, 03178-200
                br
                b Telefone: 
                | (11) 2091-3944
                br
                br
                a(href="https://www.prefeitura.sp.gov.br/cidade/secretarias/cultura/bibliotecas/bibliotecas_bairro/bibliotecas_a_l/josepaulopaes/", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-4')
              .card-header
                h5.mb-0 
                  span.bar
                  | Bona
            #a1-4.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | Rua Álvaro Anes, 43 - Pinheiros
                br
                b Telefone: 
                | 3812-8400
                br
                br
                a(href="http://www.bona.art.br", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1
                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-5')
              .card-header
                h5.mb-0 
                  span.bar
                  | Casa de Francisca
            #a1-5.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | R. Quintino Bocaiúva, 22 - Sé, São Paulo - SP, 01004-010
                br
                b Telefone: 
                | (11) 3052-0547
                br
                br
                a(href="http://casadefrancisca.art.br/novo/", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-6')
              .card-header
                h5.mb-0 
                  span.bar
                  | Centro Cultural b_arco
            #a1-6.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | R. Dr. Virgílio de Carvalho Pinto, 426 - Pinheiros, São Paulo - SP, 05415-020
                br
                b Telefone: 
                | (11) 3081-6986
                br
                br
                a(href="https://barco.art.br", target="_blank")
                  | Ver site 
                  i.fa.fa-share.ml-1                  
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-7')
              .card-header
                h5.mb-0 
                  span.bar
                  | Cerverbaria
            #a1-7.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                |  R. Ferreira de Araújo, 945 - Pinheiros, São Paulo - SP, 05428-002
                br
                b Telefone: 
                | (11) 99963-6422
                br
                br
                a(href="http://cerverbaria.com.br", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-8')
              .card-header
                h5.mb-0 
                  span.bar
                  | Confraria Nossa Casa
            #a1-8.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | R. Mourato Coelho, 1032 - Vila Madalena, São Paulo - SP, 05417-001
                br
                br
                a(href="https://www.facebook.com/NossaCasa.VilaMadalena/?rf=1086055674872275", target="_blank")  
                  | Ver site 
                  i.fa.fa-share.ml-1
                
        .col-12.col-md-6
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-9')
              .card-header
                h5.mb-0 
                  span.bar
                  | Escrevedeira
            #a1-9.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | R. Isabel de Castela, 141 - Vila Madalena, São Paulo - SP, 05445-010
                br
                b Telefone: 
                | (11) 94499-0141
                br
                br
                a(href="https://www.escrevedeira.com.br", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-10')
              .card-header
                h5.mb-0 
                  span.bar
                  | Espaço Parlapatões
            #a1-10.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                |  Praça Franklin Roosevelt, 158 - Consolação, São Paulo - SP, 01220-020
                br
                b Telefone: 
                | (11) 3258-4449
                br
                br
                a(href="http://parlapatoes.com.br/site/", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-11')
              .card-header
                h5.mb-0 
                  span.bar
                  | Espaço Plínio Marcos
            #a1-11.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | Praça Benedito Calixto, Pinheiros, São Paulo
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-12')
              .card-header
                h5.mb-0 
                  span.bar
                  | Estúdio Lâmina
            #a1-12.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                |  Av. São João, 108 - 41 - Centro, São Paulo - SP, 01310-200
                br
                br
                a(href="https://www.facebook.com/estudio.lamina.7/", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-13')
              .card-header
                h5.mb-0 
                  span.bar
                  | Instituto Brincante
            #a1-13.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                |  R. Purpurina, 412 - Vila Madalena, São Paulo - SP, 05435-030
                br
                b Telefone: 
                | (11) 3816-0575
                br
                br
                a(href="http://www.institutobrincante.org.br", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-14')
              .card-header
                h5.mb-0 
                  span.bar
                  | Livraria da Vila
            #a1-14.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                | R. Fradique Coutinho, 915 - Vila Madalena, São Paulo - SP, 05416-011
                br
                b Telefone: 
                | (11) 3814-5811
                br
                br
                a(href="https://livrariadavila.com.br", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1                
          .card.fadeInUp.wow
            a.trigger.w-100.h-100.collapsed(data-toggle='collapse', href='#a1-15')
              .card-header
                h5.mb-0 
                  span.bar
                  | SESC Pinheiros
            #a1-15.collapse(data-parent='#accordion-1')
              .card-body
                b Endereço: 
                |  R. Pais Leme, 195 - Pinheiros, São Paulo - SP, 05424-150
                br
                b Telefone: 
                | (11) 3095-9400
                br
                br
                a(href="https://www.sescsp.org.br/unidades/10_PINHEIROS/#/uaba=programacao#/fdata=id%3D10", target="_blank") 
                  | Ver site 
                  i.fa.fa-share.ml-1
                
