section#schedule.py-5
  .container
    .row.mb-5
      .col-12 
        h2.title PROGRAMAÇÃO – SÃO PAULO
    .row.mb-5
      .col-12
        ul#schedule-day-nav.nav.nav-pills(role="tablist")
          li.nav-item
            a.nav-link.active(href="#day1" data-toggle="tab" data-day="20") 20/11 terça-feira
          li.nav-item 
            a.nav-link(href="#day2" data-toggle="tab" data-day="21") 21/11 quarta-feira
          li.nav-item 
            a.nav-link(href="#day3" data-toggle="tab" data-day="22") 22/11 quinta-feira
          li.nav-item 
            a.nav-link(href="#day4" data-toggle="tab" data-day="23") 23/11 sexta-feira
          li.nav-item 
            a.nav-link(href="#day5" data-toggle="tab" data-day="24") 24/11 sábado
          li.nav-item 
            a.nav-link(href="#day6" data-toggle="tab" data-day="25") 25/11 domingo
          li.nav-item 
            a.nav-link(href="#ressaca" data-toggle="tab" data-day="26") Ressaca 
          li.nav-item 
            a.nav-link(href="#extra" data-toggle="tab" data-day="26") Especial              
    .row
      .col-12
        .tab-content
          #day1.tab-pane.fade.show.active(role="tabpanel")
            include schedule/day1
          #day2.tab-pane.fade(role="tabpanel")
            include schedule/day2
          #day3.tab-pane.fade(role="tabpanel")
            include schedule/day3
          #day4.tab-pane.fade(role="tabpanel")
            include schedule/day4
          #day5.tab-pane.fade(role="tabpanel")
            include schedule/day5
          #day6.tab-pane.fade(role="tabpanel")
            include schedule/day6
          #ressaca.tab-pane.fade(role="tabpanel")
            include schedule/ressaca
          #extra.tab-pane.fade(role="tabpanel")
            include schedule/extra
    hr.mt-4.mb-5(style="border-bottom:1px solid white;")
    .row.mb-5
      .col-md-4.col-12
        h4.title.mb-3 PROGRAMAÇÃO – Teresina
        a.btn.btn-primary.mb-4(href="assets/img/schedule/teresina_1.jpg" data-fancybox="teresina") Ver programação
        a.d-none(href="assets/img/schedule/teresina_2.jpg" data-fancybox="teresina")

      .col-md-4.col-12
        h4.title.mb-3 PROGRAMAÇÃO – Salvador
        a.text-muted.btn.btn-link.mb-4(href="#") Em breve...
        
      .col-md-4.col-12
        h4.title.mb-3 Amazon Kindle Direct Publishing
        a.btn.btn-primary.mb-4(href="assets/img/schedule/kindle.jpg" data-fancybox="kindle") Ver programação
