section#social.py-5 
  .container 
    .row.align-items-center
      .col-12
        h2.title.mb-5.bg-xs.text-blue Redes Sociais      
        nav.nav          
          a.nav-link(href="https://www.facebook.com/baladaliterariaoficial/#" target="_blank") 
            i.fa.facebook.fa-facebook
            | @baladaliterariaoficial
          a.nav-link(href="https://twitter.com/baladaliteraria" target="_blank")
            i.fa.twitter.fa-twitter 
            | @baladaliteraria
          a.nav-link(href="https://www.instagram.com/baladaliteraria/" target="_blank")            
            i.fa.instagram.fa-instagram
            | @baladaliteraria
          a.nav-link(href="https://youtube.com/user/baladaliteraria" target="_blank")            
            i.fa.youtube.fa-youtube-play
            | @baladaliteraria


        
