.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day1-1" data-toggle="tab") 
        | 20 horas – Show de Abertura no SESC PINHEIROS
      a.nav-link(href="#day1-2" data-toggle="tab")
        | 22h30 – Na CONFRARIA NOSSA CASA 
  .col-md-8.col-xs-12 
    .tab-content 
      #day1-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 20 horas – Show de Abertura no SESC PINHEIROS
        p 
          b COMPANHIA DO TIJOLO 
          | anuncia a homenagem ao educador
          | Paulo Freire e comanda
          | o show com as participações
          | do violeiro 
          b PAULO FREIRE
          |,
          | das 
          b PASTORAS DO ROSÁRIO
          |,
          | do bairro da Penha, e da cantora
          | baiana 
          b MARIENE DE CASTRO
          br
          br
          b Anfitrião:  
          | mediador de leitura 
          b DIJAIK NERY
          |,  de Tefé, Amazonas,
          | professor e voluntário
          | da 
          br
          | Vaga-Lume há 10 anos
          br
          br
          | Participação dos professores 
          b NELSON MACA 
          | e 
          b WELLINGTON SOARES
      #day1-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 22h30 – Na CONFRARIA NOSSA CASA 
        p
          | Festa  
          b TODO MUNDO VIP
          |, 
          | com o coletivo 
          b SAMBA DO SOL 
        p
          | Participações dos poetas 
          b NELSON MACA 
          | (que estará lançando o livro “Go Afrika”)
          br
          | e  
          b ÉLIO FERREIRA, 
          | professor e homenageado
          | da Balada Literária
          | em Teresina, no Piauí
        p
          b Anfitrião:  
          | mediador de leitura 
          b ISRAEL DINIZ
          |, natural de Barreirinhas, no Maranhão        
                  
        
        
        
        
        
        
        
        
                
        
