.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day1-1" data-toggle="tab") 
        | 18h00 – No SESC PINHEIROS, SHOW ESPECIAL “Alice &amp; Itamar” 
      a.nav-link(href="#day1-2" data-toggle="tab")
        | 20h30 – Na CONFRARIA NOSSA CASA 
  .col-md-8.col-xs-12 
    .tab-content 
      #day1-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 18h00 – No SESC PINHEIROS, SHOW ESPECIAL “Alice &amp; Itamar” 
          .text-small Entrada paga
        p 
          | Show de abertura em homenagem
          | a 
          b ALICE RUIZ 
          |e 
          b ITAMAR ASSUMPÇÃO 
          | com a participação de 
          b ALICE RUIZ 
          |ao lado
          | de 
          b ALZIRA E
          |, 
          b ANELIS ASSUMPÇÃO
          |, 
          b NÁ OZZETTI
          |, 
          b ESTRELA RUIZ LEMINSKI 
          |e           
          b 
          |ORQUÍDEAS DO BRASIL
        p 
          | Abertura oficial com 
          b MARCELINO FREIRE 
          |e leitor(a) venezuelano(a)
      #day1-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 20h30 – Na CONFRARIA NOSSA CASA 
          .text-small Entrada paga
        p
          | – 
          b SARAU POESIA 
          |com apresentação
          | de 
          b BERIMBA DE JESUS 
          |e 
          b VICTOR RODRIGUES 
          |+ microfone aberto
        p
          | – Especial “Freeta Jazz”
          | com 
          b BOCATO  
          | e
          b  SAMPA MIDNIGHT BAND 
          |e a participação especial do
          | guitarrista 
          b JEAN TRADE
          |,
          | músico da banda 
          b ISCA DE POLÍCIA 
          |,
          | e dos cantores 
          b LINO KRIZZ 
          |e 
          b MARCELA BIASSI
        p
          | – Show com 
          b VINICIUS CHAGAS QUARTETO
                
        
        
        
        
        
        
        
        
        
        
                
        
