.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day2-1" data-toggle="tab") 
        | 15h00 – No SESC PINHEIROS, ESPECIAL Oficina Literária “Fala, Poesia”
      a.nav-link(href="#day2-2" data-toggle="tab")
        | 20h00 – Na CASA DE FRANCISCA 
  .col-md-8.col-xs-12 
    .tab-content 
      #day2-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 15h00 – No SESC PINHEIROS, ESPECIAL Oficina Literária “Fala, Poesia”
          .text-small Atração gratuita
        p
          | – Os poetas 
          b LUIZA ROMÃO 
          | e 
          b NELSON MAKA 
          |montarão um sarau
          | com poesias inéditas, feitas durante
          | essa oficina chamada “Fala, Poesia”,
          | com temas e questões provocadas
          | por eles. O sarau será realizado
          | com a produção da turma.
          | No processo, os poetas terão
          | contato com o conceito não
          | só poético, mas de atitude
          | performática.
          | O resultado vivência-experiência
          | será apresentado no encerramento
          | da Balada Literária, no domingo,
          | dia 25 de novembro, reforçando
          | a temática deste ano, que é da
          | parceria e cumplicidade artística.
        p
          | – Oficina vai de 21 a 24/11,
          | das 15 às 18 horas.
          | Inscrições prévias via
          | SESC Pinheiros
      #day2-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 20h00 – Na CASA DE FRANCISCA 
          .text-small Entrada paga
        p 
          | – 
          b MESA DE ABERTURA 
          |com
          | uma conversa literomusical
          | comandada por 
          b MARCELINO FREIRE
          |,
          | curador do evento, com 
          b ALICE RUIZ
          |, 
          b ALZIRA E 
          |e 
          b ANELIS ASSUMPÇÃO
        p
          | – Pocket show com o cantor e ator
          | pernambucano 
          b ALMÉRIO
          |, Revelação
          | no Prêmio Música Brasileira, com
          | participação especial da cantora e
          | mulher trans  
          b VALÉRIA
        p
          | – Pocket show com a cantora
          | e mulher trans  
          b VALÉRIA 
          | com
          | a participação do ator
          | e compositor pernambucano 
          b ALMÉRIO
        p
          | – Abertura oficial com leitor(a) argentino(a)
