.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day2-1" data-toggle="tab") 
        | 10h30 – LIVRARIA DA VILA
      a.nav-link(href="#day2-2" data-toggle="tab")
        | 14 horas – LIVRARIA DA VILA 
      a.nav-link(href="#day2-3" data-toggle="tab")
        | 15h30 – LIVRARIA DA VILA
      a.nav-link(href="#day2-4" data-toggle="tab")
        | 17 horas – MERCEARIA SÃO PEDRO
      a.nav-link(href="#day2-5" data-toggle="tab")
        | 21 horas – CASA DE FRANCISCA      
  .col-md-8.col-xs-12 
    .tab-content 
      #day2-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 10h30 – LIVRARIA DA VILA
        p
          b ALÍPIO CASALI
          | , 
          b DANIEL CARA 
          | e  
          b MARCOS REIGOTA 
          | conversam com a educadora 
          b ANA MARIA ARAÚJO FREIRE
          | , viúva de Paulo Freire e autora
          | do biografia “Paulo Freire:
          | uma História de Vida”
        p
          b Anfitriã: 
          | mediadora de leitura 
          b JANILÉIA GOMES
          |, de Mirinzal,
          | Maranhão, moradora da
          | comunidade quilombola Frechal        
      #day2-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 14 horas – LIVRARIA DA VILA 
        p 
          | Aula aberta com a escritora
          | portuguesa 
          b PATRÍCIA PORTELA
        p 
          b Anfitriã: 
          | mediadora de leitura 
          b ÂNGELA FERREIRA
          | , da comunidade de Heliópolis,
          | em São Paulo
      #day2-3.tab-pane.fade(role="tabpanel")
        h5.mb-4 15h30 – LIVRARIA DA VILA:
        p 
          | Aula aberta com a escritora, travesti,
          | feminista e professora de literatura  
          b AMAIRA MOIRA
          | , 
          br
          |em que falará
          | sobre a obra de James Joyce
        p 
          b Anfitriã: 
          | mediadora de leitura  
          b DAYANA MORAES
          | , do Grajaú, em São Paulo
      #day2-4.tab-pane.fade(role="tabpanel")
        h5.mb-4 17 horas – MERCEARIA SÃO PEDRO
        p
          | Happy hour com os escritores 
          b JOCA REINERS TERRON
          | , 
          b RAFFA COUTINHO 
          | e  
          b REINALDO MORAES
          | , com a apresentação e mediação
          | de 
          b FERNANDA D’UMBRA 
          | e 
          b JORGE IALANJI FILHOLINI
        p
          b Anfitriã: 
          | mediadora de leitura  
          b CLARISSA ROBERTA
          | , do Grajaú, em São Paulo
        p
          | Participação especial do poeta 
          b GIL JORGE 
        p
          | Lançamento dos livros
          | “Somente nos Cinemas”,
          | de  Jorge Ialanji Filholini, da Série 
          b LÊPROSA
          |, 
          br
          | e “Mínimas”, poemas de 
          b GIL JORGE

      #day2-5.tab-pane.fade(role="tabpanel")
        h5.mb-4 21 horas – CASA DE FRANCISCA
        p 
          | Show com  
          b VALÉRIA BARCELLOS 
          | acompanhada da pianista 
          b MALKA
        p 
          | Participação especial de  
          b DIVINA NÚBIA 
        p 
          | Na ocasião, será lançada a antologia
          | LGBTQI+ “A Resistência dos Vaga-Lumes”,
          | organizada por 
          b ALEXANDRE RABELO 
          | e 
          b CRISTINA JUDAR 
        p 
          | Apresentação da noite por 
          b ED MARTE 
          | e 
          b RENATO NEGRÃO
        p 
          | Bate-papo com 
          b ALEXANDRE RABELO
          | , 
          b CRISTINA JUDAR
          | ,  
          b LUCAS DANTAS 
          | e  
          b NOÉ FILHO
        p 
          b Anfitrião: 
          | mediador de leitura 
          b ANDRÉ NASCIMENTO
          |, 
          | natural de Soure,
          | Ilha do Marajó, no Pará











