.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day3-1" data-toggle="tab") 
        | 14h00 – Na LIVRARIA DA VILA, na mesa “Sei dos caminhos” 
      a.nav-link(href="#day3-2" data-toggle="tab")
        | 16h00 – Na LIVRARIA DA VILA, na mesa “Já deu pra sentir quem me ama” 
      a.nav-link(href="#day3-3" data-toggle="tab")
        | 18h00 – Na LIVRARIA DA VILA, na mesa “O que vim fazer aqui” 
      a.nav-link(href="#day3-4" data-toggle="tab")
        | 20h00 – No CENTRO CULTURAL BARCO, Sarau da Diversidade 
  .col-md-8.col-xs-12 
    .tab-content 
      #day3-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 14h00 – Na LIVRARIA DA VILA, na mesa “Sei dos caminhos” 
          .text-small Atração gratuita
        p 
          b PAULO LINS 
          |conversa com uma dupla
          | de parceiros que trabalham juntos
          | na literatura e no cinema: 
          b FERNANDO BONASSI 
          |e  
          b MARÇAL AQUINO
        p 
          | – Abertura oficial com
          | leitor(a) colombiano(a)
      #day3-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 16h00 – Na LIVRARIA DA VILA, na mesa “Já deu pra sentir quem me ama” 
          .text-small Atração gratuita
        p 
          b CARLOS RENNÓ 
          | e 
          b REGINA PORTO 
          | conversam com 
          b ARRIGO BARNABÉ
          |,
          | em uma mesa em homenagem
          | ao cantor e compositor londrinense
        p 
          | – Abertura oficial com
          | leitor(a) chileno(a)
      #day3-3.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 18h00 – Na LIVRARIA DA VILA, na mesa “O que vim fazer aqui” 
          .text-small Atração gratuita
        p
          | O escritor e editor piauiense 
          b WELLINGTON SOARES 
          |conversa
          | com a poeta, tradutora e editora inglesa,
          | radicada na Bahia, 
          b SARAH REBECCA KERSLEY
          | ,
          | com o poeta, tradutor para o portunhol
          | e editor cartoneiro 
          b DOUGLAS DIEGUES 
          | ,
          | e com o poeta e editor 
          b DANIEL MINCHONI
        p
          | – Abertura oficial com
          | leitor(a) paraguaio(a)
      #day3-4.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 20h00 – No CENTRO CULTURAL BARCO, Sarau da Diversidade 
          .text-small Contribuição espontânea
        p 
          | O poeta 
          b RENATO NEGRÃO 
          | e 
          b ED MARTE 
          | comandam um múltiplo
          | sarau com vários convidados,
          | contemplando todos os gêneros.
        p
          | – A escritora e travesti 
          b AMARA MOIRA 
          | conversa com o escritor e mestre 
          b JOÃO SILVÉRIO TREVISAN
          |, que
          | estará lançando “Devassos no Paraíso”,
          | e com a professora trans 
          b PAULA BEATRIZ
        p
          | – Uma homenagem à cantora 
          b ÂNGELA MARIA 
          | com uma
          | apresentação da cantora 
          b BLUE BELL 
          | e a participação especial
          | de 
          b PAULA BEATRIZ
        p
          | – Participação musical de 
          b ESTRELA RUIZ LEMINSKI
        p
          | – Abertura oficial com leitor(a) equatoriano(a)
