.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day3-1" data-toggle="tab") 
        | 10h30 – LIVRARIA DA VILA 
      a.nav-link(href="#day3-2" data-toggle="tab")
        | 14 horas – LIVRARIA DA VILA
      a.nav-link(href="#day3-3" data-toggle="tab") 15h30 – LIVRARIA DA VILA
      a.nav-link(href="#day3-4" data-toggle="tab") 17 horas – MERCEARIA SÃO PEDRO
      a.nav-link(href="#day3-5" data-toggle="tab") 19h30 – SESC PINHEIROS
      a.nav-link(href="#day3-6" data-toggle="tab") 21 horas – CASA DE FRANCISCA
  .col-md-8.col-xs-12 
    .tab-content 
      #day3-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 10h30 – LIVRARIA DA VILA
        p 
          | Aula aberta com o escritor 
          b DANIEL MUNDURUKU 
        p 
          b Anfitriã:  
          | mediadora de leitura 
          b MARGARIDA BRASIL  
          |, da comunidade indígena
          | de Camanaus,
          br
          | em São Gabriel
          | da Cachoeira, Amazonas
      #day3-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 14 horas – LIVRARIA DA VILA
        p 
          | Aula aberta com o poeta  
          b RICARDO ALEIXO
        p 
          b Anfitriã:   
          | mediadora de leitura 
          b LUCIANA GOMES
          | , professora-bibliotecária
          | na região do Ceasa,
          br
          | em São Paulo
      #day3-3.tab-pane.fade(role="tabpanel")
        h5.mb-4 15h30 – LIVRARIA DA VILA
        p
          b IAN UVIEDO  
          | e 
          b CARLOS MESSIAS 
          | conversam com 
          b BRUNO BRUM
          | , 
          b CHACAL  
          br
          | e  
          b RONALDO BRESSANE
        p
          b Anfitriã:  
          | mediadora de leitura 
          b ANA CLAÚDIA TEIXEIRA
          |, da biblioteca comunitária EJAAC,
          br
          |Zona Sul de São Paulo        
      #day3-4.tab-pane.fade(role="tabpanel")
        h5.mb-4  17 horas – MERCEARIA SÃO PEDRO
        p 
          | Happy hour com  
          b FAUSTO FAWCETT
          | ,  
          b MARCELO RUBENS PAIVA 
          | e  
          b MÁRIO BORTOLOTTO 
          br
          | com a apresentação e mediação
          | de 
          b ANDRÉA DEL FUEGO 
          | e  
          b IVANA ARRUDA LEITE
        p 
          | Participação especial do desenhista 
          b CARLOS FERREIRA
          | , que estará lançando a HQ
          | “Hellbrazil – Mercearia Noir”
          | em homenagem à Mercearia São Pedro
        p 
          b Anfitriã: 
          | mediadora de leitura
          | KETLIN SANTOS, 
          | da biblioteca comunitária
          | Caminhos da Leitura,
          | Zona Sul de São Paulo
      #day3-5.tab-pane.fade(role="tabpanel")
        h5.mb-4  19h30 – SESC PINHEIROS
        p 
          | Projeto “Nossos Mestres, 
          | Nossas Mestras”,
          | com  
          b LIA DE ITAMARACÁ
          | , em que ela falará 
          | de seus mestres
          | e mestras na vida 
          | e música.
        p 
          | Mediação do jornalista 
          b MARCELO HENRIQUE ANDRADE 
        p 
          | Na ocasião, será lançado 
          | livro-reportagem
          | sobre a maior cirandeira 
          | do Brasil.
      #day3-6.tab-pane.fade(role="tabpanel")
        h5.mb-4 21 horas – CASA DE FRANCISCA
        p 
          | Show com os mestres-cantores 
          b JOSÉ MIGUEL WISNIK  
          | e  
          b LUIZ TATIT 
        p 
          | Celebração às mestras  
          b EDA LUIZ
          | , 
          b MÃE DORA DE OYÁ 
          | e 
          b  MARIA VILANI 
        p
          b Anfitriã: 
          | mediadora de leitura 
          b PRISCILA FONSECA
          |,  de Apucarana, no Paraná












