.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day4-1" data-toggle="tab")  11h30 – LIVRARIA DA VILA
      a.nav-link(href="#day4-2" data-toggle="tab")  14 horas – BIBLIOTECA PADRE JOSÉ ANCHIETA, na Vila Perus
      a.nav-link(href="#day4-3" data-toggle="tab")  16 horas – SESC PINHEIROS
      a.nav-link(href="#day4-4" data-toggle="tab")  A partir das 17h30 – BIBLIOTECA MÁRIO DE ANDRADE
      a.nav-link(href="#day4-5" data-toggle="tab")  21h30 – CASA DE FRANCISCA
  .col-md-8.col-xs-12 
    .tab-content 
      #day4-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 11h30 – LIVRARIA DA VILA
        p 
          b ALICE RUIZ
          |, homenageada da Balada Literária
          | do ano passado, conversa sobre o legado da obra de Paulo Freire na educação e nas artes
          | com a escritora 
          b PAULA BAJER FERNANDES
          |, o poeta visual 
          b THIAGO RODRIGUES 
          | e o poeta cubano 
          b REINALDO GARCIA BLANCO
        p
          b Anfitriã: 
          | mediadora de leitura 
          b SUILLAN
          |, Zona Sul de São Paulo

      #day4-2.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 14 horas – BIBLIOTECA PADRE JOSÉ ANCHIETA, na Vila Perus
        p 
          | Aula aberta com o escritor 
          b VALTER HUGO MÃE
        p 
          b Anfitriã: 
          | mediadora de leitura 
          b BEL SANTOS
          |, da biblioteca comunitária 
          | Caminhos da Leitura,
          br
          | Zona Sul de São Paulo
      #day4-3.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 16 horas – SESC PINHEIROS
        p 
          | Projeto “Nossos Mestres, 
          | Nossas Mestras”,
          | com o cantor 
          | e compositor  
          b LAZZO MATUMBI 
          br
          | com mediação de  
          b CHICCO DE ASSIS
        p 
          b Anfitrião: 
          | mediador de leitura 
          b DANILO RAMOS
          |, de Mauá, São Paulo
      #day4-4.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 17h30 – BIBLIOTECA MÁRIO DE ANDRADE
        p 
          | Uma homenagem aos 80 anos
          | da poeta 
          b EUNICE ARRUDA
        p 
          | Pré-lançamento de “Visível ao Destino”,
          | obra completa + inéditos de 
          b EUNICE ARRUDA 
          br
          | com leituras de 
          b ARRUDA 
          | e 
          b BEATRIZ HELENA AMARAL
        p 
          | Lançamentos do livro “Diário Bolivariano”,
          | de 
          b EMERSON ALCALDE
          |; da antologia
          | “O Dia Como Ele É”, do coletivo de
          | escritoras 
          b MARTELINHO DE OURO
          |; da coleção “Pode Pá – Mesquiteiros”,
          | organizada por 
          b RODRIGO CIRÍACO; 
          | do livro "Dois Amores", de 
          b PAULO LINS
        p       
          |Apresentação de 
          b MARCELINO FREIRE
        p 
          b Anfitriã: 
          | mediadora de leitura 
          b LUCINÉIA OLIVEIRA 
          |, da biblioteca comunitária Mundo dos Livros        

        h5.mb-4 18 horas – BIBLIOTECA MÁRIO DE ANDRADE
        p 
          | Uma homenagem 
          | a 
          b MIRÓ DA MURIBECA 
          | e aos poetas de rua
        p 
          | Apresentação de 
          b  MARCELINO FREIRE 
          | e do grupo 
          b AS CLARIANAS
        p 
          | Participações especiais de 
          b BERIMBA DE JESUS
          |,  
          b BINHO, CHACAL
          |,  
          b DANDARA
          |,  
          b GEOVANI BAFFÔ
          |, 
          b LETÍCIA BRITO
          |,  
          b LUCAS LINS
          |, 
          b MARCÉU
          |,  
          b NELSON MACA
          |, 
          b PAULO LINS
          |,  
          b NELSON MACA
          |, 
          b PAULO LINS
          |, 
          b PEDRO LUCAS
          |, 
          b PIETA POETA
          |,  
          b RENATO KOLLA
          |,  
          b SÉRGIO VAZ
          |, 
          b UBERÊ
          |,  
          b VALESKA TORRES 
          | e 
          b WILSON FREIRE

      #day4-5.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 21h30 – CASA DE FRANCISCA
        p
          | Show com 
          b RENATO BRAZ 
          | e 
          b EDUARDO GUDIN 
          | celebrando a obra do professor,
          br
          | cantor e compositor 
          b PAULO VANZOLINI
        p
          | Bate-papo com os artistas
          | mediado pelos professores
          | e escritores 
          b WELLINGTON SOARES 
          br
          | e 
          b ELIO FERREIRA
