.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day4-1" data-toggle="tab") 
        | 10h30 – Na LIVRARIA DA VILA, na mesa “Dois em Um” 
      a.nav-link(href="#day4-2" data-toggle="tab")
        | 14h30 – Na LIVRARIA DA VILA, na mesa “Quem Canta Seus Males Espanta” 
      a.nav-link(href="#day4-3" data-toggle="tab")
        | 19h00 – Na BIBLIOTECA JOSÉ PAULO PAES, na Penha 
      a.nav-link(href="#day4-4" data-toggle="tab")
        | 21h00 – No BONA 
      a.nav-link(href="#day4-5" data-toggle="tab")
        | 22h30 – No BAMBU BRASIL
  .col-md-8.col-xs-12 
    .tab-content 
      #day4-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 10h30 – Na LIVRARIA DA VILA, na mesa “Dois em Um” 
          .text-small Atração gratuita
        p 
          | A escritora 
          b DÉBORA DORNELLAS
          |,
          | autora do livro “Por Cima do Mar”,
          | conversa com 
          b ANTÔNIO NÓBREGA 
          | e 
          b WILSON FREIRE
        p
          | – Abertura oficial com
          | leitor(a) chileno(a)
      #day4-2.tab-pane.fade(role="tabpanel")
        h5.mb-4
          | 14h30 – Na LIVRARIA DA VILA, na mesa “Quem Canta Seus Males Espanta” 
          .text-small Atração gratuita
        p 
          | Um encontro entre 
          b ESTRELA RUIZ LEMINSKI 
          | e 
          b ARRUDA
          |, sob mediação do poeta 
          b BRUNO BRUM
          |, cruzando leituras,
          | experiências e influências poéticas e musicais
          | de cada um. Na ocasião, será feita uma
          | homenagem a Eunice Arruda
          | e Paulo Leminski.
        p 
          | – Abertura oficial com
          | leitor(a) uruguaio(a)
      #day4-3.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 19h00 – Na BIBLIOTECA JOSÉ PAULO PAES, na Penha 
          .text-small Atração gratuita
        p
          | No bairro em que viveu Itamar,
          | uma roda de leitura especial do grupo
          | “Papo de Comadre”, destacando
          | a obra poética de 
          b ALICE RUIZ 
          | e as canções de 
          b ITAMAR ASSUMPÇÃO
        p
          | – Participação de 
          b ALICE RUIZ 
          | e 
          b ELIZENA BRIGO DE ASSUMPÇÃO
          |, 
          | mulher de Itamar Assumpção
        p
          | – Lançamento do livro “Nós”,
          | de  
          b SANDRO A
      #day4-4.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 21h00 – No BONA *
          .text-small Entrada paga
        p
          | – Show “Canções Velhas para Embrulhar Peixes
          | - Volume 3”, em comemoração aos 10 anos
          | da parceria entre o poeta 
          b ARRUDA 
          | e o cantor e compositor 
          b PERI PANE. 
          | Participações especiais de 
          b ALZIRA E
          |, 
          b IVAM GOMES 
          | e  
          b MARINA BERALDO
      #day4-5.tab-pane.fade(role="tabpanel")
        h5.mb-4  
          | 22h30 – No BAMBU BRASIL
          .text-small Entrada paga
        p
          b – UMA BALADA PIAUIENSE 
          | com a cantora de Teresina 
          b SORAYA CASTELLO BRANCO 
          | e o cantor e compositor,
          | nascido em Oeiras e radicado
          | em São Paulo, 
          b EMERSON BOY
        p 
          | – Lançamento do selo editorial
          b LIVRE
          |, um projeto do escritor e
          | editor 
          b VANDERLEY MENDONÇA
          |, 
          | com os autores 
          b FABÍOLA LUZ
          |, 
          b LARA GALVÃO
          |, 
          b RAFAEL CAMPELLO 
          | e  
          b TENÓRIO ROCHA
