.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day5-1" data-toggle="tab") 
        | 10h30 – Na LIVRARIA DA VILA, na mesa “Nuvem Feliz” 
      a.nav-link(href="#day5-2" data-toggle="tab")
        | A partir das 14h00 - No CENTRO CULTURAL B_ARCO
      a.nav-link(href="#day5-3" data-toggle="tab")
        | 21h00 – No AUDITÓRIO IBIRAPUERA 
      a.nav-link(href="#day5-4" data-toggle="tab")
        | 23h00 – No ESTÚDIO LÂMINA 
  .col-md-8.col-xs-12 
    .tab-content 
      #day5-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 10h30 – Na LIVRARIA DA VILA, na mesa “Nuvem Feliz” 
          .text-small Atração gratuita
        p
          | O jornalista 
          b GUILHERME SOBOTA 
          | conversa com 
          b JEFERSON TENÓRIO
          |, 
          b MÁRCIA TIBURI 
          | e 
          b RICARDO RAMOS FILHO
          |,
          | em torno da obra de cada convidado
          | e marcando os 80 anos do romance
          | “Vidas Secas”, de Graciliano Ramos
        p
          | – Abertura oficial com leitor(a) cubano(a)
      #day5-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | A partir das 14h00 - No CENTRO CULTURAL B_ARCO
          .text-small Contribuição espontânea
        p
          h5 14h00  
          | – As cantoras e compositoras 
          b BLUEBELL
          |, 
          b SOFIA FREIRE 
          | e  
          b VANESSA BUMAGNY 
          | conversam com 
          b VÂNIA BASTOS
          |, 
          | em uma homenagem à cantora paulista
        p
          h5 15h30 
          | –  
          b JORGE IALANJI FILHOLINI 
          | conversa 
          b GISELE MIRABAI
          |, 
          | Prêmio Kindle de Literatura, 
          b ANALU ANDRIGUETTI
          |, 
          | poeta e editora independente,
          | que lançará o livro “36 Poses Rio”, 
          b TALITA TALIBERTI
          |, gerente
          | de autopublicação na Amazon,
          | e o escritor e também editor independente 
          b MARCELO DA SILVA ANTUNES 
          | sobre os novos meios de divulgação
          | da palavra escrita
        p 
          h5 17h00 
          |–  
          b XICO SÁ 
          | conversa com o cantor
          | e compositor 
          b BENITO DI PAULA 
          | e seu filho, também cantor e compositor 
          b RODRIGO VELLOZO
          |, 
          | que está lançando o trabalho “Tão Fácil”
        p
          h5 18h30 
          | – Show com “Sons &amp; Furyas”,
          | com o escritor 
          b ANDRÉ SANT’ANNA
          |, 
          | e as cantoras e compositoras 
          b HELÔ RIBEIRO 
          | e 
          b VANESSA BUMAGNY 
        p 
          | – Lançamento da revista literária 
          b MOREIA
          |, com Ana Elisa Barros,
          | Angela Marsiaj, Auro Lescher, Balbie Madeleine,
          | Camilla Rollemberg, Dayse Torres, Heitor Nunes,
          | Marcella Prado, Marília Gonçalves, Otelo Rigatto,
          | Paula Cohen, Pedro Tancini, Simone Az e
          | Victor Rodrigues
        p
          | – Lançamento do livro “Como ser ninguém
          | na cidade grande”, de 
          b LUIZ ROBERTO GUEDES
          |, 
          | Editora Penaluz
        p 
          | – Lançamento da coleção “Sambas Escritos”,
          | organizada por 
          b CAMEN FAUSTINO
          |, 
          b MAITÊ FREITAS 
          | e 
          b PATRÍCIA COSTA VAZ
          |, Editora Pólen
        p
          | – Abertura oficial com
          | leitor(a) mexicano(a)
      
      #day5-3.tab-pane.fade(role="tabpanel")      
        h5.mb-4 
          | 21h00 – No AUDITÓRIO IBIRAPUERA 
          .text-small Entrada paga
        p
          | Show “Dos Santos”, em que a cantora 
          b FABIANA COZZA 
          | presta uma homenagem
          | ao artista 
          | MOA DE KATENDÊ
          |, interpretando
          | canções inéditas feitas especialmente para
          | o espetáculo.
        p
          | Direção de 
          b ELIAS ANDREATO 
          | e 
          | a participação especial do bailarino 
          b RUI MOREIRA
        p
          | – Abertura oficial com
          | leitor(a) boliviano(a)              
      #day5-4.tab-pane.fade(role="tabpanel")        
        h5.mb-4  
          | 23h00 – No ESTÚDIO LÂMINA 
          .text-small Contribuição espontânea
        p 
          | –  
          b LUDMYLA ALMEIDA
          | , 
          | beer sommelière,
          | autora do Instagram
          | Ipacondríaca, encontra
          | com as atrizes e escritoras 
          b HELENA CERELLO 
          | e 
          b PAULA COHEN
          |, 
          | em uma conversa etílico literária
          | a partir da degustação das cervejas
          | da Cerverbaria,
          | com nome de escritores e escritoras
        p 
          | – As atrizes apresentarão
          | uma parceria inédita,
          | misturando suas escritas,
          | cantos, interpretações e experiências
        p
          | – Lançamento do livro “Éter”,
          | de 
          b IAN UVIEDO
        p 
          | – Participação do poeta e artista plástico 
          b THIAGO CALLE
        p
          | – Apresentação pelo poeta 
          b MARCELO MONTENEGRO 
          | do curta-metragem
          | “Beleléu Cá Entre Nós: Itamar Assumpção
          | Antes do Nego Dito”, dirigido
          | por 
          b FÁBIO HENRIQUES GIORGIO
        p
          | – Discotecagem com 
          b DJ GUG        
