.row 
  .col-12 
    .mb-3.text-center
      h5.text-fancy.text-blue Dia Mundial da Alfabetização
.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day5-1" data-toggle="tab")  12h30 – LIVRARIA DA VILA
      a.nav-link(href="#day5-2" data-toggle="tab")  14h30 – CENTRO CULTURAL B_ARCO
      a.nav-link(href="#day5-3" data-toggle="tab") 19 horas – AUDITÓRIO IBIRAPUERA
  .col-md-8.col-xs-12 
    .tab-content 
      #day5-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 12h30 – LIVRARIA DA VILA
        p
          b CLAUDINEY FERREIRA 
          | e 
          b JÉSSICA BALBINO 
          | conversam com 
          b SÉRGIO HADDAD
          | , que estará lançando  
          | “O Educador – Um Perfil de Paulo Freire”
          | pela Editora Todavia, e  
          b MADALENA FREIRE
          | , filha do homenageado da Balada Literária 2019
        p 
          | Participação especial do poeta 
          b COSTA SENNA
        p
          b Anfitriã: 
          | mediadora de leitura 
          b CRIS LIMA
          |, da biblioteca comunitária
          | Djeanne Firmino, 
          br
          | de Campo Limpo, 
          | São Paulo
      #day5-2.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 14h30 – CENTRO CULTURAL B_ARCO
        p
         | Uma grande homenagem dos mestres
         | e das mestras aos seus mestres e mestras
         | comandada por 
         b MARCELINO FREIRE
         |, 
         b WELLINGTON SOARES 
         | (Teresina) 
         | e 
         b NELSON MACA 
         | (Salvador),
         | curadores da Balada Literária 2019
        p
          | Presentes: 
          b ANDRÉ BALBO
          |,  
          b DÉCIO ZYLBERSZTAJN
          |, 
          b ESCOBAR NOGUEIRA
          |, 
          b FLÁVIA REGINA
          |, 
          b FREDERICO BARBOSA
          |,  
          b IVAN MARQUES
          |, 
          b JORGE ANTÔNIO RIBEIRO
          |, 
          b LUCAS VERZOLA
          |, 
          b PAULA BEATRIZ
          |, 
          b RITA COUTO 
          | e  
          b RODRIGO CIRÍACO
        p
          | Prêmio Donizete Galvão
          | para a educadora 
          b ANA MAE BARBOSA
          |, para a editora 
          br
          b GITA K. GUINSBURG 
          | e para o editor 
          b PLINIO MARTINS 
        p
          | Encontro entre 
          b ROBERTA ESTRELA D’ALVA 
          | e a escritora 
          b GENI GUIMARÃES
          |, 
          br
          | momento em que será
          | anunciada a homenagem 
          | da Balada Literária 2020
        p
          b Anfitriões: 
          b SYLVIA GUIMARÃES 
          | e 
          b RODRIGO ZANELLA
          | , do projeto Vaga-Lume
        p
          b Lançamento dos livros: 
          | de 
          b DÉCIO ZYLBERSZTAJN 
          | e 
          b MAURÍCIO BENEDETTI
      #day5-3.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 19 horas – AUDITÓRIO IBIRAPUERA
        p
          | Encerramento com a orquestra  
          b MUNDANOS AFORA 
          | com o músico e maestro 
          b  CARLINHOS ANTUNES 
          | reunindo músicos brasileiros, imigrantes e refugiados de diversas partes do mundo.
          | Participação especial da cantora 
          b FABIANA COZZA
        p
          b Anfitriã: 
          | mediadora de leitura 
          b KLICIA LOPES
          | , do município de Oriximiná, no Pará


