.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#day6-1" data-toggle="tab") 
        | 12h00 – Na LIVRARIA DA VILA, na mesa “Outras Liras”
      a.nav-link(href="#day6-2" data-toggle="tab")
        | 15h00 – No INSTITUTO BRINCANTE
      a.nav-link(href="#day6-3" data-toggle="tab")
        | 18h00 – No SESC PINHEIROS
      a.nav-link(href="#day6-4" data-toggle="tab")        
        | 20h30 – Na CERVERBARIA
  .col-md-8.col-xs-12 
    .tab-content 
      #day6-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | 12h00 – Na LIVRARIA DA VILA, na mesa “Outras Liras”
          .text-small Atração gratuita
        p 
          b CLAUDINEY FERREIRA 
          | conversa com a escritora e editora 
          b SIMONE PAULINO
          |,
          | o escritor e compositor 
          b THIAGO CAMELO 
          | e o poeta italiano 
          b ROBERTO PARMEGGIANI
        p 
          | – Abertura oficial com
          | leitor(a) guatemalteco(a)
      #day6-2.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 15h00 – No INSTITUTO BRINCANTE
          .text-small Atração gratuita
        p 
          | – SARAU DEMO – Um grande
          | Sarau Democrático com as participações
          | de 
          b ADEMIR ASSUNÇÃO
          |, 
          b ANNA ZÊPA
          |, 
          b BINHO
          |, 
          b DANIEL MINCHONI
          |, 
          b EDMILSON DO PÍFANO
          |,  
          b GABRIEL NÓBREGA
          |, 
          b LUCAS AFONSO
          |, 
          b MARCELO MONTENEGRO
          |,  
          b RENATO NEGRÃO
          |, 
          b ROSANE ALMEIDA
          |,  
          b SÉRGIO VAZ 
          | e 
          b TENÓRIO ROCHA
        p 
          | – Apresentação especial da bailarina 
          b MARIA EUGÊNIA NÓBREGA
        p 
          | – Encerramento com 
          b ANTÔNIO NÓBREGA
          |, em homenagem e com a presença de 
          b JOSÉ RAMOS TINHORÃO
        p 
          | – Entrega do Prêmio Donizete Galvão
          | à família 
          b BRINCANTE 
          | e aos atores 
          b HUGO POSSOLO  
          | e  
          b RAUL BARRETTO        
      #day6-3.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 18h00 – No SESC PINHEIROS
          .text-small Atração gratuita
        p 
          | O coletivo 
          b SLAM DA GUILHERMINA
          |, 
          | com a participação de 
          b EMERSON ALCALDE
          |, 
          | comandará o &quot;Slamssunção&quot;, uma
          | homenagem ao autor de “Nego Dito”.
          | Haverá a apresentação dos resultados
          | artísticos das parcerias provocadas
          | pela oficina de criação poética realizada
          | por 
          b LUIZA ROMÃO 
          | e 
          b NELSON MAKA 
          | no SESC Pinheiros durante todo o evento.
        p 
          | – Participação especial da poeta 
          b ALICE RUIZ
          |, 
          | que terá sua produção também destacada
        p 
          | – Lançamento do EP "Apesares De", do rapper 
          b XPABELUCA
          |, de Belo Horizonte
        p 
          | – Abertura oficial com leitor(a)
          | nordestino(a)        
      #day6-4.tab-pane.fade(role="tabpanel")
        h5.mb-4 
          | 20h30 – Na CERVERBARIA
          .text-small Atração gratuita
        p
          | – Confraternização com vários convidados
          | da 
          b BALADA LITERÁRIA
          |, que anunciará
          | qual a escolha do público para o homenageado
          | ou homenageada da edição de 2019
        p 
          | – Também serão anunciados os vencedores
          | do Prêmio Toca Literária
        p 
          | – Para terminar, um brinde à escritora 
          b PATRÍCIA CHMIELEWSKI
          |, 
          | que estará lançando o Zine pela Democracia,
          | reunindo inéditos de 30 poetas, e a nova edição
          | da cerveja 
          b POÉTICA
          |, batizada com o seu nome        
