.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#extra-1" data-toggle="tab") 
        | Pré-Balada Literária em São Paulo 
      a.nav-link(href="#extra-3" data-toggle="tab") Aula aberta de criação literária 
      a.nav-link(href="#extra-4" data-toggle="tab")
        | Oficina literária 
      a.nav-link(href="#extra-5" data-toggle="tab")
        | Oficina literária Paratodxs
      a.nav-link(href="#extra-6" data-toggle="tab")
        | EXPOSIÇÃO “ESCRITOS À MÃO”
  .col-md-8.col-xs-12 
    .tab-content 
      #extra-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4.text-uppercase 
          | 12 de agosto 19h30
        p
         | No Centro Cultural b_arco,
         | com a participação da autora nigeriana 
         b OYIANKAN BRAITHWAITE
         br
         |  e do autor carioca 
         b GIOVANI MARTINS

        h5.mb-4.text-uppercase  
          | 27 de agosto 19h30 
        p
          | No Centro Cultural b_arco, 
          | com a participação do escritor e cineasta
          | franco-marroquino 
          b ABDELLAH TAÏA
          | , sob mediação de SIMONE PAULINO


      #extra-3.tab-pane.fade(role="tabpanel")
        h5.mb-4.text-uppercase  
          | 31 de agosto 15h00 
          br
          | no Espaço Plínio Marcos 
        p                    
          | Aula aberta sobre criação literária
          | com 
          b ANDRÉA DEL FUEGO
          |, 
          br
          b EVANDRO AFFONSO FERREIRA 
          | e  
          b MARCELINO FREIRE

      #extra-4.tab-pane.fade(role="tabpanel")
        h5.mb-4.text-uppercase 
          | 7 de setembro 
          br
          | das 14 às 18 horas 
          br
          | no SESC Pinheiros 
        p                    
          b OFICINA 
          | com 
          b DANIEL MUNDURUKU
      #extra-5.tab-pane.fade(role="tabpanel")
        h5.mb-4.text-uppercase 
          | 6 a 8 de setembro
          br
          | das 9h30 às 12h30
          br
          | na SCHOLL OF LIFE
        p 
          b OFICINA LITERÁRIA 
          | da 
          b CASA PARATODXS                    
      #extra-6.tab-pane.fade(role="tabpanel")
        h5.mb-4.text-uppercase 
          | 4 a 8 de setembro 
          br 
          | no centro cultural b_arco
        p
          | originais, escritos à mão,
          | de autoras e autores brasileiros,
          | expostos no Centro Cultural b_arco,
          | de 4 a 8 de setembro

