.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#extra-1" data-toggle="tab") 
        | Especial
      a.nav-link(href="#extra-2" data-toggle="tab")
        | Atração parceira
      a.nav-link(href="#extra-3" data-toggle="tab")
        | LIVRO DE MÃO EM MÃO
  .col-md-8.col-xs-12 
    .tab-content 
      #extra-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4.text-uppercase 
          | ESPECIAL
          .text-small Atração gratuita
        p
          | – Oficina gratuita com o escritor
          | e cineasta  
          b WILSON FREIRE 
          | sobre produção, autopublicação
          | e divulgação de textos
          | nas redes sociais:
        p
          b Onde: 
          | Centro Cultural b_arco
          br 
          b Quando: 
          | 23 de novembro, sexta-feira
          br
          b Horário: 
          | das 19 às 22 horas
          br 
          b Inscrições: 
          | bliteraria@gmail.com
          br
          | Vagas limitadas.
        p
          | – Lançamento do livro
          | “Os Cadernos do Desencontro
          | de Antônio Guerra”,
          | de LUCIANA ANUNZIATTA
        p
          b Onde: 
          | Escrevedeira
          br
          b Quando: 
          | 22 de novembro
          br
          b Horário: 
          | 19 horas        
      #extra-2.tab-pane.fade(role="tabpanel")
        h5.mb-4.text-uppercase  
          | Atração parceira
          .text-small Entrada paga

        p
          | – Peça teatral “Andy”:
          | o mais novo trabalho dos parceiros 
          b GERO CAMILO 
          | e 
          b VICTOR MENDES.
        p
          b Onde:  
          | Espaço Parlapatões
          br
          b Quando:   
          | 24 de novembro, sábado
          br
          b Horário:  
          | 21h00        
      #extra-3.tab-pane.fade(role="tabpanel")
        h5.mb-4.text-uppercase  LIVRO DE MÃO EM MÃO 
        p                    
          | Campanha “traga alguém pela primeira vez”
          | à 
          b BALADA LITERÁRIA
          |. Precisamos de mais gente
          | que gosta de gente. Sortearemos livros entre os
          | novatos e as novatas nesta décima terceira edição
          | de uma das festas mais democráticas do Brasil.
