.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      b.mb-2 Dia 26 de novembro
      a.nav-link.active(href="#ressaca-1" data-toggle="tab") 
        | 19h30 – No Centro Cultural b_arco
      b.mb-2 Dia 29 de novembro
      a.nav-link(href="#ressaca-2" data-toggle="tab")
        | 19h30 – Na CASA DO BAIXO AUGUSTA
      b.mb-2 Dia 1º de dezembro
      a.nav-link(href="#ressaca-3" data-toggle="tab")
        | 14h00 – No ESPAÇO PLÍNIO MARCOS
  .col-md-8.col-xs-12 
    .tab-content 
      #ressaca-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | RESSACA LITERÁRIA Dia 26 de novembro, 19h30 – No Centro Cultural b_arco
          .text-small Atração gratuita
        p
          | – Lançamento do livro “Tatu”,
          | de 
          b PAULA ANACAONA
          |, 
          | com um bate-papo com a escritora
          | e editora francesa mediado por 
          b ADRIENNE MYRTES   
          | e 
          b JARID ARRAES
          |,
          | com apresentação de 
          b SIMONE PAULINO
        p 
          | – Lançamento da plataforma de cursos criativos 
          b NAVEGA
          |, com show da banda 
          b JAM MANOUCHE
        p 
          | – Especial “Ciranda – Jogo de Palavra Falada”,
          | campeonato de poesia falada
          | comandado pelas poetas 
          b ANNA ZÊPA 
          | e 
          b MARIA GIULIA PINHEIRO        
          
          
      #ressaca-2.tab-pane.fade(role="tabpanel")
        h5.mb-4  
          | 19h30 – Na CASA DO BAIXO AUGUSTA
          .text-small Atração paga
        p
          | Show 
          b BAIÃO DE SPOKENS 
          | + 
          b PATIFE BAND
          |, projeto de 
          b PAULO BARNABÉ
      #ressaca-3.tab-pane.fade(role="tabpanel")
        h5.mb-4  
          | RESSACA LITERÁRIA Dia 1º de dezembro, 14h00 – No ESPAÇO PLÍNIO MARCOS
          .text-small Atração gratuita
        p
          | A Balada Literária 2018 presta uma homenagem,
          | dentro de sua já tradicional 
          b RESSACA LITERÁRIA
          |, 
          | ao cantor e compositor 
          b EDVALDO SANTANA 
          |,
          | que participará de um bate-papo e fará um
          | pocket show exclusivo.
        p
          | Participações especiais de 
          b ADEMIR ASSUNÇÃO
          |, 
          b ALICE RUIZ
          |, 
          b EDSON LIMA 
          |,  
          b FÁBIO HENRIQUES GIORGIO
          |,  
          b MARCELINO FREIRE 
          | e  
          b RIBA DE CASTRO        
        
        
        
        
                
        
