.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#sday1-1" data-toggle="tab") 
        | 19 horas – ESPAÇO CULTURAL DA BARROQUINHA
  .col-md-8.col-xs-12 
    .tab-content 
      #sday1-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 19 horas – ESPAÇO CULTURAL DA BARROQUINHA
        p 
          | Sarau Bem Black
        p 
          | Lançamento da Revista Organismo número 7 e do livro “Go Afrika” de 
          b NELSON MACA 
        p 
          | Pocket show da 
          b VESRU2 
          | (Rap)
