.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#sday2-1" data-toggle="tab") 
        | A partir das 10h na CASA DO BENIN
        br
        | NO PELOURINHO
      a.nav-link(href="#sday2-2" data-toggle="tab") 
        | 19 horas – ESPAÇO CULTURAL DA BARROQUINHA
  .col-md-8.col-xs-12 
    .tab-content 
      #sday2-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 – 10 horas
        p 
          | Café da manhã com a homenagem 
          | a 
          b DONA CICI. 
          | Bate-papo e lançamentos.
          br
          | Intervenção artística 
          | com o grafiteiro 
          b FINHO. 
          | Participação de 
          b CÁSSIA VALE  
          | e 
          b CHICCO ASSIS

        h5.mb-4 – 14 horas
        p 
          b MILENA BRITTO 
          | conversa 
          | com os escritores 
          b LIMA TRINDADE 
          |, 
          b NILSON GALVÃO 
          br
          | e 
          b STEBAN RODRIGUES

        h5.mb-4 – 15h30
        p
          b NELSON MACA 
          | conversa 
          | com 
          b FRANCIEL CRUZ
          |, 
          b MÁRCIO BODE 
          | e 
          b MARCUS GUSMÃO 


        h5.mb-4 – 17 horas
        p
          b MILENA BRITTO 
          | e 
          b SARAH REBECCA 
          | conversam com 
          b MARCELINO FREIRE
      #sday2-2.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 19 horas – ESPAÇO CULTURAL DA BARROQUINHA
        p 
          b TRANSVERSAL 
          | – Sarau da Diversidade
        p
          | Apresentação de 
          b ED MARTE 
          | e 
          b SUED HOSANA