.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#sday3-1" data-toggle="tab") 
        | A partir das 9 horas na CASA DO BENIN
        br
        | NO PELOURINHO
      a.nav-link(href="#sday3-2" data-toggle="tab") 
        | 19 horas – ESPAÇO CULTURAL DA BARROQUINHA

  .col-md-8.col-xs-12 
    .tab-content 
      #sday3-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 – Das 9 às 12 horas
        p 
          | Curso de prosa, 
          | a partir do livro 
          | “Torto Arado”,
          | vencedor do Prêmio Leya 
          | de Literatura,
          br
          | com 
          b ITAMAR VIEIRA JUNIOR 
          | e 
          b LUCIANY APARECIDA

        h5.mb-4 – 14 horas
        p
          b VERA LOPES 
          | conversa com 
          b ALEX SIMÕES
          |, 
          b FABIANA LIMA 
          | e 
          b SUED HOSANA

        h5.mb-4 – 15h30
        p
          b ALEX SIMÕES 
          | conversa com  
          b DENISSON PALUMBO
          |,  
          b RITA SANTANA 
          | e  
          b SÉRGIO BAHIALISTA

        h5.mb-4 – 17 horas
        p
          b SIMONE PAULINO 
          | conversa 
          | com o escritor 
          | franco-marroquino 
          b ABDELLAH TAÏA

      #sday3-2.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 19 horas – ESPAÇO CULTURAL DA BARROQUINHA
        p 
          b Peça: 
          | “Encruzilhada”, 
          | com 
          b LENO SACRAMENTO 
        p 
          b Peça: 
          | “Se Deus Fosse Negro”, 
          | com 
          b SÉRGIO LAURENTINO
