.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#sday4-1" data-toggle="tab") 
        | A partir das 9 horas CASA DO BENIN
        br
        | NO PELOURINHO
      a.nav-link(href="#sday4-2" data-toggle="tab") 
        | A partir das 14 horas no ESPAÇO CULTURAL DA BARROQUINHA
      a.nav-link(href="#sday4-3" data-toggle="tab") 
        | 19 horas no TEATRO GREGÓRIO DE MATTOS
  .col-md-8.col-xs-12 
    .tab-content 
      #sday4-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 
          | Das 9 às 12 horas 
          br
          |na CASA DO BENIN
          br
          | NO PELOURINHO
        p 
          | Curso de prosa 
          | e de poesia
          | com 
          b MARCELINO FREIRE 
          | e 
          b NELSON MACA
      #sday4-2.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 – 14 horas  
        p
          b CHICCO ASSIS  
          | e 
          b NELSON MACA 
          | conversam com  
          b JURACI TAVARES
          |, 
          b MIGUEL MARINHO
          |, 
          b PINDUKA 
          | e  
          b VERTIN
        h5.mb-4 – 16 horas
        p
          b ANA CRISTINA PEREIRA 
          | e 
          b MARCELINO FREIRE 
          | conversam com 
          b VALTER HUGO MÃE        
      #sday4-3.tab-pane.fade.show(role="tabpanel")
        h5.mb-4 19 horas no TEATRO GREGÓRIO DE MATTOS
        p 
          | Shows com 
          b JURACI TAVARES
          |, 
          b MIGUEL MARINHO 
          | (PE) 
          | e 
          b VERTIN  
          | (PE) 
        p 
          | Lançamento nacional do vídeoclipe "Pássaro Só" de 
          b VERTIN