.row 
  .col-md-4.col-xs-12 
    nav.nav-cust.nav.flex-column(role="tablist")
      a.nav-link.active(href="#sday5-1" data-toggle="tab") 
        | 15 horas na FUNDAÇÃO PIERRE VERGER
  .col-md-8.col-xs-12 
    .tab-content 
      #sday5-1.tab-pane.fade.show.active(role="tabpanel")
        h5.mb-4 15 horas na FUNDAÇÃO PIERRE VERGER
        p 
          | Encerramento com bate-papo 
          | com 
          b DONA CICI
          |, mediado por 
          b CHICCO ASSIS  
          | e 
          b CÁSSIA VALE
        p 
          | Na ocasião, haverá contação de histórias
          | com 
          b DONA CICI 
          | e 
          b CÁSSIA VALE
        p 
          | Show Brincante “Canastra Real”,
          | com 
          b PINDUKA & CANASTRA REAL