<!DOCTYPE html>
html(lang="en")
  head
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145653742-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145653742-1');

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Balada Literária 2019      
    meta(property='og:title', content='Balada Literária 2018')
    meta(property='og:site_name', content='Balada Literária')
    meta(property='og:url', content='http://baladaliteraria.com.br/')
    meta(property='og:description', content='Visite o site da Balada Literária 2019 e fique por dentro da programação! ')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://baladaliteraria.com.br/cover_fb.jpg')
    meta(name="theme-color" content="#fff")


    link(rel='shortcut icon', type='image/png', href='assets/img/favicon.png')
      
    link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,600" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    block head
  body(data-spy="scroll" data-target="#navbar" data-offset="50")
    block content
    script(src="./index.js")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
